@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Reset Settings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f7f7f9;
}

/* Navigation Section */
header {
  width: 375px;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  height: 48px;
  width: 100%;
  background-color: #fff;
}

.menu-open {
  stroke: #6070ff;
  margin-right: 36px;
  width: 24px;
  height: 24px;
  display: block;
}

.mobile_skill {
  display: block;
  margin-top: 20px;
}

.menu-list,
.desktop_skill {
  display: none;
}

.logo {
  padding: 10px 12px;
  font-size: 20px;
  font-weight: 700;
}

a:link,
a:visited {
  text-decoration: none;
  color: #6070ff;
}

a:hover,
a:active {
  text-decoration: none;
  color: #6070ff;
}

/* Header and toolbar section */
.container1 {
  background-color: #fff;
  height: 626px;
  width: 375px;
  margin: auto;
  border-bottom-left-radius: 100px;
  background-image: url(./images/header_mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.header-banner {
  display: flex;
  flex-direction: column;
  width: 87%;
  margin: 0 24px;
}

.header-banner-title {
  font-weight: 700;
  color: #172b4d;
  font-size: 40px;
  line-height: 52px;
  width: 327px;
  margin-top: 118px;
}

.header-banner-info {
  font-size: 16px;
  margin-top: 12px;
  color: #344563;
  line-height: 24px;
  font-weight: 400;
  width: 100%;
}

.header-social {
  margin-top: 12px;
}

.header-head {
  color: #7f8cff;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
}

.header-details {
  margin-top: 12px;
}

.header-details > a {
  margin-right: 20px;
}

/* Works (projects) and About me section */
.container {
  width: 375px;
  margin: 114px auto;
  display: grid;
  gap: 88px;
}

.card-body {
  border-radius: 16px;
  background-color: #fff;
  padding: 16px;
  width: 327px;
  margin: auto;
}

.card-header {
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
}

.card-content {
  margin-top: 12px;
}

.card-content > p {
  color: #344563;
}

.container3 {
  display: none;
}

.category {
  list-style-type: none;
  color: #6070ff;
  margin-top: 16px;
  display: flex;
  gap: 8px;
}

.card-content .category {
  text-decoration: none;
}

.category li {
  background-color: #ebebff;
  border-radius: 5px;
  padding: 4px 12px;
}

.card-sub li {
  color: #7a869a;
  font-size: 13px;
}

.card-sub .remove {
  list-style-type: none;
  color: #344563;
  font-weight: 600;
}

.card-sub {
  margin-top: 12px;
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}

.show {
  margin-top: 16px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #396df2;
  color: #396df2;
  background-color: #fff;
  font-size: 17px;
  font-weight: 500;
}

.show:hover {
  border: 1px solid #6070ff;
  color: white;
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.show:active {
  border: 1px solid #2230d2;
  color: white;
  background-color: #2230d2;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.show:disabled {
  border: 1px solid #5e6c84;
  color: #5e6c84;
  background-color: #fff;
}

.about-banner {
  background-color: #fff;
  width: 375px;
  height: 1263px;
  margin: auto;
  border-top-right-radius: 80px;
}

.about-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 114px;
  margin: 0 24px;
}

.about-title {
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
}

.about-info {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.about-sub {
  margin-top: 12px;
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
}

.social-details {
  display: flex;
  margin-top: 26px;
  gap: 12px;
}

/* Contact form */
.contact-mobile {
  width: 378px;
  height: 779px;
  background-color: #6070ff;
  margin: 0 auto;
  margin-top: -106px;
  border-top-left-radius: 100px;
  color: #fff;
  display: flex;
  justify-content: center;
  background-image: url(images/Mobile_form_background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.contact-header {
  font-weight: 700;
  font-size: 40px;
  margin-top: 106px;
  line-height: 52px;
  width: 100%;
  text-align: center;
}

.contact-desc {
  margin: 12px auto;
  width: 327px;
  text-align: center;
  font-size: 20px;
  color: #ebebff;
  line-height: 28px;
}

.form-info {
  width: 87%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 52px auto;
}

.form-info input,
textarea {
  padding: 15px;
  width: 100%;
  height: 48px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-weight: 400;
  font-size: 17px;
}

.form-btn {
  margin-top: 0;
  width: 142px;
  float: right;
}

textarea {
  height: 170px;
  color: #b3bac4;
  font-size: 15px;
  margin-top: 2px;
}

input:focus,
textarea:focus {
  outline: none;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    width: 100%;
    margin: auto;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 155px;
    height: 70px;
    background-color: #fff;
  }

  /* Header and toolbar section */
  .container1 {
    background-color: #fff;
    position: relative;
    height: 916px;
    width: 100%;
    border-bottom-left-radius: 100px;
    background-image: url(./images/Desk_Head.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .menu-open,
  .mobile_skill {
    display: none;
  }

  .desktop_skill {
    display: block;
  }

  .header-details > a {
    margin-right: 20px;
  }

  .menu-list {
    display: flex;
    list-style-type: none;
    gap: 32px;
  }

  .menu-list a:link,
  .menu-list a:visited {
    text-decoration: none;
    color: #344563;
  }

  .menu-list a:hover,
  .menu-list a:active {
    text-decoration: none;
    color: #344563;
  }

  .logo {
    padding: 10px 12px;
    font-size: 20px;
    font-weight: 700;
  }

  span {
    display: block;
  }

  .header-banner {
    display: flex;
    flex-direction: column;
    width: 63%;
    margin: 0 auto;
  }

  .header-banner-title {
    margin-top: 289px;
    width: 920px;
    font-size: 48px;
  }

  .header-banner-info {
    font-weight: 400;
    font-size: 20px;
    width: 920px;
    line-height: 28px;
  }

  .header-social {
    margin-top: 12px;
  }

  .header-head {
    color: #7f8cff;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
  }

  .header-details {
    margin-top: 12px;
  }

  .container {
    display: none;
  }

  .container3 {
    display: block;
    width: 75%;
    height: 100%;
    margin: 142px auto;
  }

  .card-container {
    border-radius: 24px;
    background-color: #fff;
    margin-top: 142px;
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }

  .card-header {
    margin-top: 20px;
    color: #172b4d;
    font-weight: 700;
    font-size: 40px;
  }

  .card-content > p {
    color: #344563;
    font-size: 16px;
    line-height: 24px;
  }

  .category {
    list-style-type: none;
    color: #6070ff;
    margin-top: 16px;
    display: flex;
    gap: 8px;
  }

  .card-content .category {
    text-decoration: none;
  }

  .category li {
    background-color: #ebebff;
    border-radius: 5px;
    padding: 4px 12px;
  }

  .card-sub li {
    color: #7a869a;
    font-size: 18px;
  }

  .card-sub .remove {
    list-style-type: none;
    color: #344563;
    font-weight: 600;
    font-size: 18px;
  }

  .card-sub {
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
  }

  .about-banner {
    background-color: #fff;
    width: 100%;
    height: 924px;
    margin: 0 auto;
    border-top-right-radius: 80px;
  }

  .about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    align-items: center;
    margin: 0 142px;
  }

  .about-title {
    font-size: 40px;
    font-weight: 700;
    color: #091e42;
  }

  .about-info {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #344563;
  }

  .about-sub {
    margin-top: 12px;
    color: #7f8cff;
    font-size: 16px;
    font-weight: 500;
  }

  .social-details {
    display: flex;
    margin-top: 26px;
    gap: 12px;
  }

  .contact-desk {
    width: auto;
    height: 846px;
    background-color: #6070ff;
    margin: 0 auto;
    margin-top: -256px;
    border-top-left-radius: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    background-image: url(images/Desk_form_background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .form-info input,
  textarea {
    border-radius: 0;
  }

  .form-btn {
    margin-left: 25%;
  }
}
